@charset "UTF-8";
@font-face {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff");
  font-display: swap;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: #fff;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  color: #fff;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-item__contacts-link, .footer-item__link, .footer-item__text, .footer-item__title, .page-info__description, .page-info__text, .care__title, .info-nav__link, .society__link, .society__text, .brand__left-subtitle, .brand__left-title, .brand__subtitle, .brand__text, .product__price, .product__text, .slider-item__title, .header-page .header-menu__link,
.header-page .header-menu__contact, .header-menu__link, .header-menu__contact {
  font-family: "CeraPro-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-menu {
  padding: 51px 0 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header-menu__list {
  display: flex;
  align-items: center;
}
.header-menu__item + .header-menu__item {
  margin-left: 47px;
}
.header-menu__link, .header-menu__contact {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.02em;
}
.header-menu__logo {
  margin: 0 auto;
}
.header-menu__contact {
  display: inline-block;
}
.header-menu__nav {
  display: flex;
  align-items: center;
  margin-left: 48px;
}
.header-menu__nav-link + .header-menu__nav-link {
  margin-left: 25px;
}

.header-page {
  background: #f5ece3;
}
.header-page .header-menu__link,
.header-page .header-menu__contact {
  color: #555;
}

.header-slider {
  margin-top: -128px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  padding: 0;
  margin: 0;
  border: none;
  z-index: 1;
  background: rgba(136, 136, 136, 0.3);
  border-radius: 60px;
  width: 63px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 70px;
}
.slider .slick-arrow.slick-next {
  right: 70px;
  margin-left: auto;
}

.slider-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-item__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slider-item__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.04em;
  position: relative;
  padding-bottom: 5px;
}
.slider-item__title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.3;
}

.product {
  padding: 70px 0;
}
.product__wrap {
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
}
.product__item {
  max-width: 310px;
  width: 100%;
  height: 430px;
  padding: 21px 24px;
  border-radius: 6px;
  display: flex;
}
.product__info {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__text {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #555;
}
.product__price {
  font-size: 18px;
  line-height: 120%;
  color: #555;
}

.brand {
  background: rgb(245, 236, 227) url("../img/brand.png") no-repeat left center;
}
.brand__content {
  max-width: 542px;
  width: 100%;
  margin-left: auto;
  padding: 190px 0;
}
.brand__logo {
  display: inline-block;
  margin-bottom: 67px;
}
.brand__text {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #555;
  margin-bottom: 34px;
}
.brand__subtitle {
  font-size: 18px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #555;
}
.brand__author {
  display: flex;
  align-items: center;
  margin-top: 54px;
}
.brand__left-title {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #555;
  margin-bottom: 5px;
}
.brand__left-subtitle {
  font-size: 13px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: #555555;
}
.brand__img {
  margin-left: 35px;
}

.society {
  background: #f5ece3;
  padding: 137px 0 128px;
}
.society__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 97px;
}
.society__text {
  max-width: 600px;
  width: 100%;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #555;
}
.society__link {
  display: flex;
  align-items: center;
  background: #eee4da;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 66px;
  padding: 28px 99px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555;
}
.society__link svg {
  margin-right: 10px;
}
.society__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
.society__img {
  width: 309px;
  height: 309px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.6s ease-in-out;
}
.society__img:hover {
  transform: scale(1.02);
}

.info-nav {
  background: #eee4da;
  padding: 14px 0 13px;
}
.info-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-nav__item + .info-nav__item {
  margin-left: 70px;
}
.info-nav__link {
  font-size: 14px;
  line-height: 120%;
  color: #555555;
  opacity: 0.4;
}
.info-nav__link--active {
  opacity: 1;
}

.care {
  background: #f5ece3;
  padding: 70px 0;
}
.care__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555555;
  margin-bottom: 38px;
  text-align: center;
}

.page-info {
  background: rgb(245, 236, 227) url("../img/category/info-bg.png") no-repeat left center;
}
.page-info__inner {
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  padding: 250px 0;
  padding-left: 114px;
}
.page-info__text {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin: 67px 0 34px;
  color: #555;
}
.page-info__description {
  font-size: 18px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #555;
}

.footer {
  padding: 75px 0 142px;
  background: #eee4da;
}
.footer__logo {
  display: block;
  margin: 0 auto 129px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  max-width: 244px;
  width: 100%;
}
.footer-item__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #555555;
  margin-bottom: 26px;
}
.footer-item__text {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #555555;
  opacity: 0.4;
  margin-bottom: 26px;
}
.footer-item__social {
  display: flex;
  align-items: center;
}
.footer-item__social-link + .footer-item__social-link {
  margin-left: 9px;
}
.footer-item__social-link {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f5ece3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-item__item + .footer-item__item {
  margin-top: 25px;
}
.footer-item__link {
  font-size: 14px;
  line-height: 120%;
  color: #555;
}
.footer-item__contacts {
  display: flex;
  align-items: center;
}
.footer-item__contacts-link + .footer-item__contacts-link {
  margin-left: 35px;
}
.footer-item__contacts-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #555;
}
.footer-item__contacts-link img {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */