@charset "UTF-8";
@font-face {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff");
  font-display: swap;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: #fff;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  color: #fff;
}

.request__input::-moz-placeholder {
  font-family: "CeraPro-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.request__input:-ms-input-placeholder {
  font-family: "CeraPro-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-item__contacts-link, .footer-item__link, .footer-item__text, .footer-item__title, .request__call, .request__input::placeholder, .request__input, .contacts__link, .contacts__span, .about-company__ceo, .about-company__name, .about-company__subtitle, .about-company__text, .about-company__number, .about-company__description, .about-company__back, .account-profile__out, .account-profile__edit, .account-profile__orders, .account-profile__email, .account-profile__name, .account-profile__title, .account-order__pend, .account-order__text, .account-order__num, .account-order__title, .add-card__tab-item, .add-card__tab, .add-card__btn, .add-card__price, .add-card .jq-number__field input, .add-card__title, .add-card__add, .page-info__description, .page-info__text, .care__title, .info-nav__link, .society__link, .society__text, .brand__left-subtitle, .brand__left-title, .brand__subtitle, .brand__text, .product__price, .product__text, .slider-item__title, .header-page .header-menu__link,
.header-page .header-menu__contact, .header-menu__link, .header-menu__contact, .title {
  font-family: "CeraPro-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 300;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #555555;
}

.start-page {
  height: 100vh;
}
.start-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.start-page__link + .start-page__link {
  margin-top: 20px;
}
.start-page__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: forestgreen;
}

.header-menu {
  padding: 51px 0 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header-menu__list {
  display: flex;
  align-items: center;
}
.header-menu__item + .header-menu__item {
  margin-left: 47px;
}
.header-menu__link, .header-menu__contact {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.02em;
}
.header-menu__logo {
  margin: 0 auto;
}
.header-menu__contact {
  display: inline-block;
}
.header-menu__nav {
  display: flex;
  align-items: center;
  margin-left: 48px;
}
.header-menu__nav-link + .header-menu__nav-link {
  margin-left: 25px;
}

.header-page {
  background: #f5ece3;
  position: relative;
}
.header-page .header-menu__link,
.header-page .header-menu__contact {
  color: #555;
}
.header-page::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0.05;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-slider {
  margin-top: -128px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  padding: 0;
  margin: 0;
  border: none;
  z-index: 1;
  background: rgba(136, 136, 136, 0.3);
  border-radius: 60px;
  width: 63px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 70px;
}
.slider .slick-arrow.slick-next {
  right: 70px;
  margin-left: auto;
}

.slider-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-item__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slider-item__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.04em;
  position: relative;
  padding-bottom: 5px;
}
.slider-item__title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.3;
}

.product {
  padding: 70px 0;
}
.product__wrap {
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
}
.product__item {
  max-width: 310px;
  width: 100%;
  height: 430px;
  padding: 21px 24px;
  border-radius: 6px;
  display: flex;
}
.product__info {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__text {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #555;
}
.product__price {
  font-size: 18px;
  line-height: 120%;
  color: #555;
}

.brand {
  background: rgb(245, 236, 227) url("../img/brand.png") no-repeat left center;
}
.brand__content {
  max-width: 542px;
  width: 100%;
  margin-left: auto;
  padding: 190px 0;
}
.brand__logo {
  display: inline-block;
  margin-bottom: 67px;
}
.brand__text {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #555;
  margin-bottom: 34px;
}
.brand__subtitle {
  font-size: 18px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #555;
}
.brand__author {
  display: flex;
  align-items: center;
  margin-top: 54px;
}
.brand__left-title {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #555;
  margin-bottom: 5px;
}
.brand__left-subtitle {
  font-size: 13px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: #555555;
}
.brand__img {
  margin-left: 35px;
}

.society {
  background: #f5ece3;
  padding: 137px 0 128px;
}
.society__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 97px;
}
.society__text {
  max-width: 600px;
  width: 100%;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #555;
}
.society__link {
  display: flex;
  align-items: center;
  background: #eee4da;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 66px;
  padding: 28px 99px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555;
}
.society__link svg {
  margin-right: 10px;
}
.society__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
.society__img {
  width: 309px;
  height: 309px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.6s ease-in-out;
}
.society__img:hover {
  transform: scale(1.02);
}

.info-nav {
  background: #eee4da;
  padding: 14px 0 13px;
}
.info-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-nav__item + .info-nav__item {
  margin-left: 70px;
}
.info-nav__link {
  font-size: 14px;
  line-height: 120%;
  color: #555555;
  opacity: 0.4;
}
.info-nav__link--active {
  opacity: 1;
}

.care {
  background: #f5ece3;
  padding: 70px 0;
}
.care__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555555;
  margin-bottom: 38px;
  text-align: center;
}

.page-info {
  background: rgb(245, 236, 227) url("../img/category/info-bg.png") no-repeat left center;
}
.page-info__inner {
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  padding: 250px 0;
  padding-left: 114px;
}
.page-info__text {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin: 67px 0 34px;
  color: #555;
}
.page-info__description {
  font-size: 18px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #555;
}

.category-brand {
  background: #f5ece3;
  padding-bottom: 70px;
}
.category-brand__wrap + .category-brand__wrap {
  margin-top: 20px;
}
.category-brand__wrap {
  display: flex;
  justify-content: space-between;
}
.category-brand__wrap--last {
  flex-direction: row-reverse;
}
.category-brand__left .product__item {
  max-width: 640px;
  width: 640px;
  height: 880px;
}
.category-brand__left .product__item img {
  width: 640px;
  height: 880px;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-brand__left .product__text {
  font-size: 20px;
  line-height: 120%;
}
.category-brand__left .product__price {
  font-size: 24px;
  line-height: 120%;
}
.category-brand__right {
  max-width: 640px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.add-card {
  background: #f5ece3;
  padding-bottom: 35px;
}
.add-card__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-card__content {
  width: 720px;
}
.add-card__slider {
  display: flex;
  justify-content: space-between;
  width: 720px;
  height: 900px;
  border-radius: 0px 0px 6px 0px;
}
.add-card .tovar-preview {
  width: 70px;
  height: 900px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.add-card .tovar-preview__item {
  width: 70px;
  height: 80px;
}
.add-card .tovar-preview__item-img {
  width: 70px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-card .tovar-preview__item.slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
  border: none;
  margin-bottom: 20px;
}
.add-card .tovar-thumb {
  width: 720px;
  height: 900px;
  position: absolute;
  margin-left: 0;
}
.add-card .tovar-thumb__item {
  width: 720px;
  height: 900px;
}
.add-card .tovar-thumb__item-img {
  width: 720px;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-card__info {
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  padding-left: 163px;
}
.add-card__add {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555;
}
.add-card__add svg {
  margin-right: 11px;
}
.add-card__title {
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #555;
  margin-top: 30px;
  margin-bottom: 28px;
}
.add-card__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}
.add-card .jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 36px 0 0;
  width: 163px;
  background: #eee4da;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 66px;
  padding: 0px;
  outline: none;
}
.add-card .jq-number__field {
  width: 163px;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: none;
}
.add-card .jq-number__field input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555;
  text-align: center;
  padding: 0;
  padding: 11px 0;
}
.add-card .jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 14px;
  height: 29px;
  background: transparent;
  text-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
}
.add-card .jq-number__spin.minus {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 19px;
}
.add-card .jq-number__spin.plus {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/icons/+.svg") no-repeat center;
  background: url("../img/icons/+.png") no-repeat center;
  right: 19px;
}
.add-card .jq-number__spin.minus {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/icons/minus.png") no-repeat center;
  right: 19px;
}
.add-card .jq-number__spin:after {
  content: none;
}
.add-card__price {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #555;
}
.add-card__btn {
  display: flex;
  align-items: center;
  background: #eee4da;
  border-radius: 76px;
  padding: 30px 113px;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #555;
}
.add-card__btn svg {
  margin-right: 14px;
}
.add-card__tabs {
  margin-top: 53px;
}
.add-card .tabs {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.add-card .add-card__tab + .add-card__tab {
  margin-left: 10px;
}
.add-card__tab {
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #555;
  opacity: 0.5;
  padding: 3px 17px;
  cursor: pointer;
}
.add-card__tabs .active {
  background: #eee4da;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 56px;
  opacity: 1;
}
.add-card__tab-item {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: -0.02em;
  color: #555;
}

.page-card {
  padding: 35px 0px;
  background-color: rgb(2, 9, 28);
  background: rgb(245, 236, 227) url("../img/category/info-bg.png") no-repeat right center;
}
.page-card .page-info__inner {
  max-width: 536px;
  margin-left: 0;
  padding: 250px 0;
  margin-right: auto;
  padding-left: 44px;
}

.brand-page {
  padding: 35px 0;
}

.beauty-product {
  padding: 79px 0 114px;
}
.beauty-product__title {
  max-width: 600px;
  width: 100%;
  margin-bottom: 75px;
}
.beauty-product__wrapper {
  display: flex;
  justify-content: space-between;
}
.beauty-product .product__item + .product__item {
  margin-left: 20px;
}
.beauty-product .slick-arrow {
  position: absolute;
  top: -111px;
  right: 0;
  background: #eee4da;
  border-radius: 10px;
  border: none;
  width: 36px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.beauty-product .slick-arrow.slick-prev {
  right: 36px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.beauty-product .slick-arrow.slick-next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.account {
  padding: 102px 0 110px;
  position: relative;
  background: #f5ece3;
}

.account-wrapper__title {
  margin-bottom: 65px;
}

.account-order {
  max-width: 836px;
  width: 100%;
}
.account-order + .account-order {
  margin-top: 77px;
}
.account-order__title {
  width: 600px;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #555;
  margin-bottom: 42px;
}
.account-order__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
.account-order__num {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #555;
  margin-bottom: 7px;
}
.account-order__text {
  font-size: 13px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555;
  opacity: 0.5;
}
.account-order__pend {
  background: #eee4da;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  display: flex;
  align-items: center;
  border-radius: 66px;
  font-size: 14px;
  line-height: 90%;
  color: #000;
  padding: 18px 29px;
  display: inline-block;
  margin-left: 40px;
}
.account-order__pend svg {
  margin-right: 11px;
}
.account-order__slider {
  display: flex;
  justify-content: space-between;
}
.account-order__slider .product__item {
  max-width: 267px;
  height: 371px;
}
.account-order__slider .product__item + .product__item {
  margin-left: 17px;
}
.account-order__slider .slick-arrow {
  position: absolute;
  top: -79px;
  right: 0;
  background: #eee4da;
  border-radius: 10px;
  border: none;
  width: 36px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.account-order__slider .slick-arrow.slick-prev {
  right: 36px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.account-order__slider .slick-arrow.slick-next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.account-profile {
  position: absolute;
  background: #eee4da;
  top: 0;
  right: 0;
  padding: 151px 71px;
  text-align: center;
  color: #555;
}
.account-profile__title {
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #555;
}
.account-profile__img {
  width: 226px;
  height: 226px;
  margin: 35px auto 33px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.account-profile__name {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
}
.account-profile__email {
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.03em;
  margin-bottom: 12px;
}
.account-profile__orders {
  font-size: 12px;
  line-height: 110%;
  letter-spacing: -0.03em;
}
.account-profile__edit {
  display: inline-block;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555;
  padding: 28px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5ece3;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 66px;
  margin: 52px 0 35px;
}
.account-profile__edit svg {
  margin-left: 9px;
}
.account-profile__out {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555;
}
.account-profile__out svg {
  margin-right: 11px;
}

.about-company {
  padding: 134px 0;
  background: #f5ece3;
}
.about-company__inner {
  max-width: 809px;
  width: 100%;
  margin: 0 auto;
}
.about-company__back {
  display: inline-block;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555;
  margin-bottom: 31px;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-company__back svg {
  margin-right: 12px;
}
.about-company__title {
  line-height: 110%;
}
.about-company__description {
  font-size: 20px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #555;
  margin-top: 29px;
}
.about-company__img {
  margin-top: 56px;
}
.about-company__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 67px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.about-company__number {
  font-size: 96px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #e3dad0;
}
.about-company__text {
  font-size: 20px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #555;
}
.about-company__subtitle {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #555;
  margin: 84px 0 42px;
}
.about-company__banner {
  background: linear-gradient(0deg, #eee4da, #eee4da) #c4c4c4;
  border-radius: 6px;
  padding: 52px 53px 61px 60px;
}
.about-company__banner .about-company__description {
  margin-top: 0;
  margin-bottom: 29px;
}
.about-company__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-company__info {
  display: flex;
  align-items: center;
}
.about-company__userpic {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 25px;
}
.about-company__name {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #555;
  margin-bottom: 4px;
}
.about-company__ceo {
  font-size: 13px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: #555;
}

.contacts {
  padding: 102px 0 21px;
  background: #f5ece3;
}
.contacts__title {
  text-align: center;
  line-height: 110%;
}
.contacts__img {
  width: 1300px;
  height: 466px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 38px 0;
}
.contacts__list {
  display: flex;
  justify-content: space-between;
}
.contacts__item {
  display: flex;
  flex-direction: column;
  background: #eee4da;
  border-radius: 6px;
  max-width: 314px;
  width: 100%;
  padding: 43px 0 44px;
  padding-left: 40px;
}
.contacts__item + .contacts__item {
  margin-left: 15px;
}
.contacts__span {
  font-size: 16px;
  line-height: 110%;
  color: #555;
  opacity: 0.3;
  margin-bottom: 11px;
}
.contacts__link {
  font-size: 21px;
  line-height: 110%;
  color: #555555;
}

.map {
  background: #f5ece3;
  padding: 21px 0 36px;
}

.product-contacts {
  padding: 36px 0 55px;
  background: #f5ece3;
}
.product-contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.product-contacts__title {
  max-width: 492px;
  width: 100%;
  font-size: 32px;
  line-height: 150%;
}
.product-contacts .footer-item__social-link {
  width: 62px;
  height: 62px;
}
.product-contacts .footer-item__social-link + .footer-item__social-link {
  margin-left: 26px;
}

.request {
  background: #f5ece3;
  padding: 55px 0 140px;
}
.request__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request__info {
  max-width: 362px;
  width: 100%;
}
.request__title {
  margin: 70px 0 30px;
  font-size: 36px;
  line-height: 110%;
}
.request__label + .request__label {
  margin-top: 30px;
}
.request__label {
  width: 100%;
}
.request__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  padding: 29px 5px 24px;
  outline: none;
  font-size: 20px;
  line-height: 110%;
  background: #f5ece3;
}
.request__input::-moz-placeholder {
  font-size: 13px;
  line-height: 110%;
  color: #555;
  opacity: 0.3;
}
.request__input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 110%;
  color: #555;
  opacity: 0.3;
}
.request__input::placeholder {
  font-size: 13px;
  line-height: 110%;
  color: #555;
  opacity: 0.3;
}
.request__call {
  display: inline-block;
  margin-top: 54px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #555;
  background: #eee4da;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 66px;
  padding: 28px 118px;
  display: flex;
  align-items: center;
}
.request__call svg {
  margin-left: 10px;
}

.footer {
  padding: 75px 0 142px;
  background: #eee4da;
}
.footer__logo {
  display: block;
  margin: 0 auto 129px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  max-width: 244px;
  width: 100%;
}
.footer-item__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #555555;
  margin-bottom: 26px;
}
.footer-item__text {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #555555;
  opacity: 0.4;
  margin-bottom: 26px;
}
.footer-item__social {
  display: flex;
  align-items: center;
}
.footer-item__social-link + .footer-item__social-link {
  margin-left: 9px;
}
.footer-item__social-link {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f5ece3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-item__item + .footer-item__item {
  margin-top: 25px;
}
.footer-item__link {
  font-size: 14px;
  line-height: 120%;
  color: #555;
}
.footer-item__contacts {
  display: flex;
  align-items: center;
}
.footer-item__contacts-link + .footer-item__contacts-link {
  margin-left: 35px;
}
.footer-item__contacts-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #555;
}
.footer-item__contacts-link img {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */