@font-face{
  font-family: 'CeraPro-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('CeraPro-Medium'),
       url('../fonts/CeraPro-Medium.woff2') format("woff2"),
       url('../fonts/CeraPro-Medium.woff') format("woff");
  font-display: swap;
}





@font-face{
  font-family: 'CeraPro-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('CeraPro-Regular'),
       url('../fonts/CeraPro-Regular.woff2') format("woff2"),
       url('../fonts/CeraPro-Regular.woff') format("woff");
  font-display: swap;
}


@font-face{
  font-family: 'CeraPro-Light';
  font-weight: 300;
  font-style: normal;
  src: local('CeraPro-Light'),
       url('../fonts/CeraPro-Light.woff2') format("woff2"),
       url('../fonts/CeraPro-Light.woff') format("woff");
  font-display: swap;
}