@media (max-width: 1024px) {
  .add-card {
    //&__wrap {
    //  border: 1px solid #000;
    //}
    &__content {
      width: 600px;
    }
    &__slider {
      width: 600px;
      height: 695px;
    }
    .tovar-thumb {
      width: 600px;
      height: 695px;
    }
    .tovar-thumb__item {
      width: 600px;
      height: 695px;
    }
    .tovar-preview {
      height: 695px;
    }
    &__info {
      padding-left: 20px;
    }
    &__btn {
      padding: 30px 45px;
      width: fit-content;
    }
  }
  .society {
    padding: 100px 0;
  }
  .footer {
    padding: 75px 0 120px;
  }
  .footer-item {
    max-width: 220px;
  }
}

@media (max-width: 768px) {
  .header-page {
    .header-menu {
      padding: 45px 0;
    }
    .header-menu__list {
      padding: 0;
    }
  }
  .product {
    padding: 60px 0;
    &__item {
      max-width: 350px;
    }
  }
  .brand {
    background-image: none;
    &__content {
      padding: 70px 0;
    }
  }
  .society {
    padding: 100px 0;
    &__info {
      margin-bottom: 65px;
    }
    &__text {
      font-size: 38px;
    }
    &__img {
      width: 340px;
    }
    &__link {
      padding: 28px 75px;
    }
  }
  .add-card {
    &__wrap {
      flex-direction: column;
    }
    &__content {
      margin-bottom: 30px;
    }
    &__info {
      margin-left: 0;
    }
  }
  .footer {
    &__logo {
      margin-bottom: 75px;
    }
  }
  .footer-item + .footer-item {
    margin-left: 15px;
  }
  .footer-item {
    max-width: 190px;
    & + .footer-item {
      margin-left: 15px;
    }
    &__contacts {
      flex-direction: column;
    }
    &__contacts-link + .footer-item__contacts-link {
      margin-left: 0;
      margin-top: 10px;
    }
    &__item + .footer-item__item {
      margin-top: 15px;
    }
    &__contacts-link {
      margin-right: auto;
    }
    //&__social {
    //  flex-wrap: wrap;
    //  row-gap: 10px;
    //}
  }
}

@media (max-width: 425px) {
  .header-menu {
    &__list {
      //display: none;
      //background: #e5e5e5;
      background: #f5ece3;

      display: none;

      position: absolute;
      top: 0;
      top: -16px;
      left: 0;
      left: -15px;
      right: 0;
      right: -15px;
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-bottom: 74px;
      display: none;
    }
    &__item + .header-menu__item {
      margin-left: 0px;
      margin-top: 34px;
    }
    &__link {
      font-size: 24px;
      line-height: 110%;
      text-align: center;
      letter-spacing: -0.03em;
      color: #555;
    }
    &__contact {
      display: none;
    }
  }
  .product {
    padding: 40px 0;
    &__wrap {
      row-gap: 20px;
    }
    &__item {
      max-width: 195px;
      height: 335px;
      padding: 20px 15px;
    }
  }
  .brand {
    &__content {
      padding: 60px 0;
    }
  }
  .society {
    padding: 90px 0;
    &__info {
      flex-direction: column;
      margin-bottom: 40px;
    }
    &__text {
      font-size: 35px;
      margin-bottom: 15px;
    }
    &__img {
      width: 195px;
      height: 195px;
    }
  }
  .add-card {
    &__content {
      width: 395px;
    }
    &__slider {
      width: 395px;
      height: 600px;
    }
    .tovar-thumb {
      width: 395px;
      height: 600px;
    }
    .tovar-thumb__item {
      width: 395px;
      height: 600px;
    }
    .tovar-thumb__item-img {
      width: 395px;
      height: 600px;
    }
    .tovar-preview {
      height: 600px;
    }
    &__info {
      padding-left: 0;
    }
    &__btn {
      padding: 15px 45px;
    }
    &__tabs {
      margin-top: 40px;
    }
  }
  .slider {
    .slick-arrow {
      left: 15px;
      background: #c07c99;
      width: 55px;
    }
    .slick-arrow.slick-next {
      right: 15px;
    }
  }
  .slider-item {
    &__title {
      font-size: 35px;
    }
  }
  .footer {
    padding: 75px 0;
    &__inner {
      flex-wrap: wrap;
      row-gap: 15px;
    }
  }
  .footer-item {
    & + .footer-item {
      margin-left: auto;
    }
    &__contacts {
      row-gap: 10px;
    }
    &__social {
      //background-color: violet;
      flex-wrap: wrap;
      row-gap: 10px;
    }
  }
}

@media (max-width: 375px) {
  .product {
    padding: 35px 0;
    &__item {
      max-width: 345px;
      height: 430px;
      padding: 20px 15px;
    }
  }
  .brand {
    &__content {
      padding: 40px 0;
    }
    &__logo {
      margin-bottom: 30px;
    }
    &__text {
      margin-bottom: 20px;
      font-size: 22px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__author {
      justify-content: space-between;
      margin-top: 40px;
    }
  }
  .society {
    padding: 45px 0;
    &__text {
      font-size: 30px;
      margin-bottom: 30px;
    }
    &__link {
      width: 100%;
      justify-content: center;
    }
    &__img {
      width: 164px;
      height: 164px;
    }
  }
  .add-card {
    background: darkcyan;
    &__wrap {
      border: 1px solid #000;
    }
    &__content {
      width: 345px;
    }
    &__slider {
      width: 345px;
      height: 520px;
    }
    .tovar-thumb {
      width: 345px;
      height: 520px;
    }
    .tovar-thumb__item {
      width: 345px;
      height: 520px;
    }
    .tovar-thumb__item-img {
      width: 345px;
      height: 520px;
    }
    .tovar-preview {
      height: 520px;
    }
  }
  .footer {
    padding: 50px 0 30px;
    &__logo {
      margin-bottom: 30px;
      padding-bottom: 40px;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: 1px;
        background-color: #000;
        opacity: 0.5;

        //opacity: 0.05;
      }
    }
    &__inner {
      flex-direction: column;
      row-gap: 25px;
    }
  }
  .footer-item {
    //background: darkkhaki;
    max-width: 100%;
    width: 100%;
    text-align: center;
    &__social-link + .footer-item__social-link {
      margin-left: 20px;
    }
    &__list {
      padding: 0;
    }
    & + .footer-item {
      margin-left: 0;
    }
  }
}
