@import "fonts";
@import "reset";
@import "vars";
@import "global";
.start-page {
  //background-color: #b6cbd1;
  height: 100vh;
  &__wrapper {
    display: flex;
    flex-direction: column;
    //background-color: #43bf57;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  &__link + .start-page__link {
    margin-top: 20px;
  }
  &__link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: forestgreen;
  }
}
//body {
//  position: relative;
//  .header {
//    position: absolute;
//    top: 0;
//    z-index: 1;
//    left: 0;
//    right: 0;
//  }
//}
.header-menu {
  padding: 51px 0 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background-color: blueviolet;
  position: relative;
  z-index: 2;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item + .header-menu__item {
    margin-left: 47px;
  }
  &__link,
  &__contact {
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  &__logo {
    margin: 0 auto;
  }
  &__contact {
    display: inline-block;
  }
  &__nav {
    display: flex;
    align-items: center;
    margin-left: 48px;
  }
  &__nav-link + .header-menu__nav-link {
    margin-left: 25px;
  }
}
.header-page {
  background: #f5ece3;
  position: relative;
  .header-menu__link,
  .header-menu__contact {
    @extend %CeraPro-Regular-400;
    color: #555;
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #000;
    opacity: 0.05;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.header-slider {
  margin-top: -128px;
}
.slider {
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 1;
    background: rgba(136, 136, 136, 0.3);
    //backdrop-filter: blur(14px);
    border-radius: 60px;
    width: 63px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 70px;
  }
  .slick-arrow.slick-next {
    //background-color: violet;
    right: 70px;
    margin-left: auto;
  }
}
.slider-item {
  //height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  &__title {
    @extend %CeraPro-Regular-400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.04em;
    position: relative;
    padding-bottom: 5px;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: #fff;
      opacity: 0.3;
    }
  }
}
.product {
  padding: 70px 0;
  &__wrap {
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 310px;
    width: 100%;
    height: 430px;
    padding: 21px 24px;
    border-radius: 6px;
    display: flex;
  }
  &__info {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    @extend %CeraPro-Regular-400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #555;
  }
  &__price {
    @extend %CeraPro-Regular-400;
    font-size: 18px;
    line-height: 120%;
    color: #555;
  }
}
.brand {
  //background-image: url("../img/brand.png");
  //background-repeat: no-repeat;
  //background-position: left center;
  //background-size: cover;
  //background: #f5ece3;
  //background: rgb(245, 236, 227) url("../img/brand.png") no-repeat;
  background: rgb(245, 236, 227) url("../img/brand.png") no-repeat left center;
  &__content {
    max-width: 542px;
    width: 100%;
    margin-left: auto;
    padding: 190px 0;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 67px;
  }
  &__text {
    @extend %CeraPro-Regular-400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #555;
    margin-bottom: 34px;
  }
  &__subtitle {
    @extend %CeraPro-Regular-400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #555;
  }
  &__author {
    display: flex;
    align-items: center;
    margin-top: 54px;
  }
  &__left-title {
    @extend %CeraPro-Regular-400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #555;
    margin-bottom: 5px;
  }
  &__left-subtitle {
    @extend %CeraPro-Regular-400;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #555555;
  }
  &__img {
    margin-left: 35px;
  }
}
.society {
  background: #f5ece3;
  padding: 137px 0 128px;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 97px;
  }
  &__text {
    max-width: 600px;
    width: 100%;
    @extend %CeraPro-Regular-400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #555;
  }
  &__link {
    display: flex;
    align-items: center;
    background: #eee4da;
    backdrop-filter: blur(14px);
    border-radius: 66px;
    padding: 28px 99px;
    @extend %CeraPro-Regular-400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #555;
    svg {
      margin-right: 10px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  &__img {
    width: 309px;
    height: 309px;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
    &:hover {
      transform: scale(1.02);
    }
  }
}
.info-nav {
  background: #eee4da;
  padding: 14px 0 13px;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item + .info-nav__item {
    margin-left: 70px;
  }
  &__link {
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 120%;
    color: #555555;
    opacity: 0.4;
  }
  &__link--active {
    opacity: 1;
  }
}
.care {
  background: #f5ece3;
  padding: 70px 0;
  &__title {
    @extend %CeraPro-Regular-400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #555555;
    margin-bottom: 38px;
    text-align: center;
  }
}
.page-info {
  background: rgb(245, 236, 227) url("../img/category/info-bg.png") no-repeat
    left center;
  //background: rgb(245, 236, 227) url("../img/brand.png") no-repeat left center;
  &__inner {
    max-width: 650px;
    width: 100%;
    margin-left: auto;
    padding: 250px 0;
    padding-left: 114px;
  }
  &__text {
    @extend %CeraPro-Regular-400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin: 67px 0 34px;
    color: #555;
  }
  &__description {
    @extend %CeraPro-Regular-400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #555;
  }
}
.category-brand {
  background: #f5ece3;
  padding-bottom: 70px;
  &__wrap + .category-brand__wrap {
    margin-top: 20px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__wrap--last {
    flex-direction: row-reverse;
  }
  &__left {
    .product__item {
      max-width: 640px;
      width: 640px;
      height: 880px;
      img {
        width: 640px;
        height: 880px;
        object-fit: cover;
      }
    }
    .product__text {
      font-size: 20px;
      line-height: 120%;
    }
    .product__price {
      font-size: 24px;
      line-height: 120%;
    }
  }
  &__right {
    max-width: 640px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.add-card {
  background: #f5ece3;
  padding-bottom: 35px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    width: 720px;
  }
  &__slider {
    display: flex;
    justify-content: space-between;
    width: 720px;
    height: 900px;
    //border: 1px solid #555;
    border-radius: 0px 0px 6px 0px;
  }
  .tovar-preview {
    width: 70px;
    height: 900px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    //border: 1px solid violet;
    position: absolute;
    z-index: 1;
    &__item {
      width: 70px;
      height: 80px;
      //border: 2px solid #000;
    }
    &__item-img {
      width: 70px;
      height: 80px;
      object-fit: cover;
    }
    &__item.slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent;
      border: none;
      margin-bottom: 20px;
    }
  }
  .tovar-thumb {
    width: 720px;
    height: 900px;
    position: absolute;
    margin-left: 0;

    &__item {
      width: 720px;
      height: 900px;
    }
    &__item-img {
      width: 720px;
      height: 900px;
      object-fit: cover;
    }
  }
  &__info {
    max-width: 650px;
    width: 100%;
    margin-left: auto;
    padding-left: 163px;
  }
  &__add {
    display: flex;
    align-items: center;
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #555;
    svg {
      margin-right: 11px;
    }
  }
  &__title {
    @extend %CeraPro-Regular-400;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #555;
    margin-top: 30px;
    margin-bottom: 28px;
  }
  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
  }
  .jq-number {
    position: relative;
    vertical-align: middle;
    padding: 0 36px 0 0;

    width: 163px;
    background: #eee4da;
    backdrop-filter: blur(14px);
    border-radius: 66px;
    padding: 0px;
    outline: none;
  }
  .jq-number__field {
    width: 163px;

    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgb(0 0 0 / 10%);

    border: none;
    box-shadow: none;
  }

  .jq-number__field input {
    box-sizing: border-box;
    width: 100%;

    border: none;
    outline: none;
    background: none;

    @extend %CeraPro-Regular-400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #555;
    text-align: center;
    padding: 0;
    padding: 11px 0;
  }
  .jq-number__spin {
    position: absolute;
    top: 0;
    right: 0;

    user-select: none;

    cursor: pointer;
    width: 14px;
    height: 29px;
    background: transparent;
    text-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
  }
  .jq-number__spin.minus {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
  }
  .jq-number__spin.plus {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/icons/+.svg") no-repeat center;
    background: url("../img/icons/+.png") no-repeat center;
    right: 19px;
  }
  .jq-number__spin.minus {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    //background: url("../img/icons/+.svg") no-repeat center;
    background: url("../img/icons/minus.png") no-repeat center;
    right: 19px;
  }
  .jq-number__spin:after {
    content: none;
  }
  &__price {
    @extend %CeraPro-Regular-400;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #555;
  }
  &__btn {
    display: flex;
    align-items: center;
    background: #eee4da;
    border-radius: 76px;
    padding: 30px 113px;
    @extend %CeraPro-Regular-400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #555;
    svg {
      margin-right: 14px;
    }
  }
  &__tabs {
    margin-top: 53px;
  }
  .tabs {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }
  .add-card__tab + .add-card__tab {
    margin-left: 10px;
  }
  &__tab {
    @extend %CeraPro-Regular-400;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #555;
    opacity: 0.5;
    padding: 3px 17px;
    cursor: pointer;
  }
  &__tabs .active {
    background: #eee4da;
    backdrop-filter: blur(14px);
    border-radius: 56px;
    opacity: 1;
  }
  &__tab-item {
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: -0.02em;
    color: #555;
  }
}
.page-card {
  padding: 35px 0px;
  background-color: rgb(2, 9, 28);
  background: rgb(245, 236, 227) url("../img/category/info-bg.png") no-repeat
    right center;
  //background-color: rgb(2, 9, 28);
  .page-info__inner {
    max-width: 536px;
    margin-left: 0;
    padding: 250px 0;
    margin-right: auto;
    padding-left: 44px;
  }
}
.brand-page {
  padding: 35px 0;
  //background-color: rgb(31, 90, 251);
}
.beauty-product {
  padding: 79px 0 114px;
  &__title {
    max-width: 600px;
    width: 100%;
    margin-bottom: 75px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .product__item + .product__item {
    margin-left: 20px;
  }
  .slick-arrow {
    position: absolute;
    top: -111px;
    right: 0;
    background: #eee4da;
    border-radius: 10px;
    border: none;
    width: 36px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .slick-arrow.slick-prev {
    right: 36px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .slick-arrow.slick-next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.account {
  padding: 102px 0 110px;
  position: relative;
  background: #f5ece3;
}
.account-wrapper {
  &__title {
    margin-bottom: 65px;
  }
}
.account-order {
  max-width: 836px;
  width: 100%;
  //background-color: yellowgreen;
  & + .account-order {
    margin-top: 77px;
  }
  &__title {
    width: 600px;
    @extend %CeraPro-Regular-400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #555;
    margin-bottom: 42px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
  }
  &__num {
    @extend %CeraPro-Regular-400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #555;
    margin-bottom: 7px;
  }
  &__text {
    @extend %CeraPro-Regular-400;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #555;
    opacity: 0.5;
  }
  &__pend {
    background: #eee4da;
    backdrop-filter: blur(14px);
    display: flex;
    align-items: center;
    border-radius: 66px;
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 90%;
    color: #000;
    padding: 18px 29px;
    display: inline-block;
    margin-left: 40px;
    svg {
      margin-right: 11px;
    }
  }
  &__slider {
    display: flex;
    justify-content: space-between;
    .product__item {
      max-width: 267px;
      height: 371px;
    }
    .product__item + .product__item {
      margin-left: 17px;
    }
    .slick-arrow {
      position: absolute;
      top: -79px;
      right: 0;
      background: #eee4da;
      border-radius: 10px;
      border: none;
      width: 36px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .slick-arrow.slick-prev {
      right: 36px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .slick-arrow.slick-next {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.account-profile {
  position: absolute;
  background: #eee4da;
  top: 0;
  right: 0;
  padding: 151px 71px;
  text-align: center;
  color: #555;
  &__title {
    @extend %CeraPro-Regular-400;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #555;
  }
  &__img {
    width: 226px;
    height: 226px;
    margin: 35px auto 33px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__name {
    @extend %CeraPro-Regular-400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
  }
  &__email {
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.03em;
    margin-bottom: 12px;
  }
  &__orders {
    @extend %CeraPro-Regular-400;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -0.03em;
  }
  &__edit {
    display: inline-block;
    @extend %CeraPro-Regular-400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #555;
    padding: 28px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5ece3;
    backdrop-filter: blur(14px);
    border-radius: 66px;
    margin: 52px 0 35px;
    svg {
      margin-left: 9px;
    }
  }
  &__out {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #555;
    svg {
      margin-right: 11px;
    }
  }
}
.about-company {
  padding: 134px 0;
  background: #f5ece3;
  &__inner {
    max-width: 809px;
    width: 100%;
    margin: 0 auto;
  }
  &__back {
    display: inline-block;
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #555;
    margin-bottom: 31px;
    display: flex;
    align-items: center;
    width: fit-content;
    svg {
      margin-right: 12px;
    }
  }
  &__title {
    line-height: 110%;
  }
  &__description {
    @extend %CeraPro-Regular-400;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #555;
    margin-top: 29px;
  }
  &__img {
    margin-top: 56px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 67px;
    column-gap: 50px;
  }
  &__number {
    @extend %CeraPro-Regular-400;
    font-size: 96px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #e3dad0;
  }
  &__text {
    @extend %CeraPro-Regular-400;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #555;
  }
  &__subtitle {
    @extend %CeraPro-Regular-400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #555;
    margin: 84px 0 42px;
  }
  &__banner {
    background: linear-gradient(0deg, #eee4da, #eee4da) #c4c4c4;
    border-radius: 6px;
    padding: 52px 53px 61px 60px;
    .about-company__description {
      margin-top: 0;
      margin-bottom: 29px;
    }
  }
  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__userpic {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
  }
  &__name {
    @extend %CeraPro-Regular-400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #555;
    margin-bottom: 4px;
  }
  &__ceo {
    @extend %CeraPro-Regular-400;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #555;
  }
}
.contacts {
  padding: 102px 0 21px;
  background: #f5ece3;
  &__title {
    text-align: center;
    line-height: 110%;
  }
  &__img {
    width: 1300px;
    height: 466px;
    border-radius: 6px;
    object-fit: cover;
    margin: 38px 0;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    background: #eee4da;
    border-radius: 6px;
    max-width: 314px;
    width: 100%;
    padding: 43px 0 44px;
    padding-left: 40px;
  }
  &__item + .contacts__item {
    margin-left: 15px;
  }
  &__span {
    @extend %CeraPro-Regular-400;
    font-size: 16px;
    line-height: 110%;
    color: #555;
    opacity: 0.3;
    margin-bottom: 11px;
  }
  &__link {
    @extend %CeraPro-Regular-400;
    font-size: 21px;
    line-height: 110%;
    color: #555555;
  }
}
.map {
  background: #f5ece3;
  padding: 21px 0 36px;
}
.product-contacts {
  padding: 36px 0 55px;
  background: #f5ece3;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__title {
    max-width: 492px;
    width: 100%;
    font-size: 32px;
    line-height: 150%;
  }
  .footer-item__social-link {
    width: 62px;
    height: 62px;
  }
  .footer-item__social-link + .footer-item__social-link {
    margin-left: 26px;
  }
}
.request {
  background: #f5ece3;
  padding: 55px 0 140px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    max-width: 362px;
    width: 100%;
  }
  &__title {
    margin: 70px 0 30px;
    font-size: 36px;
    line-height: 110%;
  }
  &__label + .request__label {
    margin-top: 30px;
  }
  &__label {
    width: 100%;
  }
  &__input {
    width: 100%;
    //opacity: 0.2;
    border: none;
    border-bottom: 1px solid #000;
    padding: 29px 5px 24px;
    outline: none;
    font-size: 20px;
    line-height: 110%;
    background: #f5ece3;
    @extend %CeraPro-Regular-400;
    &::placeholder {
      @extend %CeraPro-Regular-400;
      font-size: 13px;
      line-height: 110%;
      color: #555;
      opacity: 0.3;
    }
  }
  &__call {
    display: inline-block;
    margin-top: 54px;
    @extend %CeraPro-Regular-400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #555;
    background: #eee4da;
    backdrop-filter: blur(14px);
    border-radius: 66px;
    padding: 28px 118px;
    display: flex;
    align-items: center;
    svg {
      margin-left: 10px;
    }
  }
}
.footer {
  padding: 75px 0 142px;
  background: #eee4da;
  &__logo {
    display: block;
    margin: 0 auto 129px;
    width: fit-content;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.footer-item {
  max-width: 244px;
  width: 100%;
  &__title {
    @extend %CeraPro-Regular-400;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #555555;
    margin-bottom: 26px;
  }
  &__text {
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #555555;
    opacity: 0.4;
    margin-bottom: 26px;
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social-link + .footer-item__social-link {
    margin-left: 9px;
  }
  &__social-link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f5ece3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item + .footer-item__item {
    margin-top: 25px;
  }
  &__link {
    @extend %CeraPro-Regular-400;
    font-size: 14px;
    line-height: 120%;
    color: #555;
  }
  &__contacts {
    display: flex;
    align-items: center;
  }
  &__contacts-link + .footer-item__contacts-link {
    margin-left: 35px;
  }
  &__contacts-link {
    display: flex;
    align-items: center;
    @extend %CeraPro-Regular-400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #555;
    img {
      margin-right: 10px;
    }
  }
}
@import "media";
